<div class="document-not-found">
  <h1>Sorry, there's no document here.</h1>
  <p>Possible reasons: The URL may be incorrect. Or, the document might have been removed.</p>
</div>

<style>
  .document-not-found {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
  }
</style>